* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    text-align: center;
    color: #333;
}

#main {
    padding: 1rem;
    background: #ddd;
}

#img-div {
    background: whitesmoke;
    padding: 1rem;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}